//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#define ZMK_POINTING_DEFAULT_SCRL_VAL 20

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    quick-tap-ms = <180>;
    flavor = "tap-preferred";
    require-prior-idle-ms = <120>;
};

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <30>;
            tapping-term-ms = <180>;
            quick-tap-ms = <130>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 35 36 37 30 31>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <30>;
            tapping-term-ms = <180>;
            quick-tap-ms = <130>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 32 25 33 34>;
            hold-trigger-on-release;
        };

        lt_custom: lt_custom {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_CUSTOM";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
        };
    };

    combos {
        compatible = "zmk,combos";

        cmben {
            bindings = <&layer_en>;
            key-positions = <23 24>;
            layers = <0 1>;
        };

        cmbru {
            bindings = <&layer_ru>;
            key-positions = <27 28>;
            layers = <0 1>;
        };

        cmd_1 {
            bindings = <&kp LG(N1)>;
            key-positions = <4 14>;
            layers = <0 1>;
        };

        cmd_2 {
            bindings = <&kp LG(N2)>;
            key-positions = <3 13>;
            layers = <0 1>;
        };

        cmd_3 {
            bindings = <&kp LG(N3)>;
            key-positions = <2 12>;
            layers = <0 1>;
        };

        cmd_4 {
            bindings = <&kp LG(N4)>;
            key-positions = <1 11>;
            layers = <0 1>;
        };

        cmd_5 {
            bindings = <&kp LG(N5)>;
            key-positions = <0 10>;
            layers = <0 1>;
        };

        cmb_tab {
            bindings = <&kp TAB>;
            key-positions = <15 16>;
        };

        cmb_raycast {
            bindings = <&kp LS(SPACE)>;
            key-positions = <13 14>;
        };

        cmb_shottr-ocr {
            bindings = <&kp LG(LS(N1))>;
            key-positions = <4 14>;
            layers = <2 3>;
        };

        cmb_shottr-capt-area {
            bindings = <&kp LG(LS(N2))>;
            key-positions = <3 13>;
            layers = <2 3>;
        };

        cmb_shottr-capt-act-win {
            bindings = <&kp LG(LS(N3))>;
            key-positions = <12 2>;
            layers = <2 3>;
        };

        cmb_shottr-capt-screen {
            bindings = <&kp LG(LS(N4))>;
            key-positions = <11 1>;
            layers = <2 3>;
        };

        cmb_shottr-capt-scroll {
            bindings = <&kp LG(LS(N5))>;
            key-positions = <0 10>;
            layers = <2 3>;
        };

        cmb_undo {
            bindings = <&kp LG(Z)>;
            key-positions = <10 21>;
            layers = <0 1>;
        };

        cmb_bspc-word {
            bindings = <&kp LA(BSPC)>;
            key-positions = <5 15>;
            layers = <10>;
        };

        cmb_del-word {
            bindings = <&kp LA(DELETE)>;
            key-positions = <4 14>;
            layers = <10>;
        };

        cmb_emdash-ru {
            bindings = <&kp LS(LA(MINUS))>;
            key-positions = <16 17>;
            layers = <3>;
        };

        cmb_endash-ru {
            bindings = <&kp LA(MINUS)>;
            key-positions = <17 18>;
            layers = <3>;
        };

        cmb_emdash-en {
            bindings = <&ru LS(LA(MINUS))>;
            key-positions = <16 17>;
            layers = <2>;
        };

        cmb_endash-en {
            bindings = <&ru LA(MINUS)>;
            key-positions = <17 18>;
            layers = <2>;
        };

        cmb_nbsp-ru {
            bindings = <&kp LA(SPACE)>;
            key-positions = <13 24>;
            layers = <1 3 5 10>;
        };

        cmb_nbsp-en {
            bindings = <&ru LA(SPACE)>;
            key-positions = <13 24>;
            layers = <0 2 4>;
        };

        cmb_shortcat {
            bindings = <&kp LS(LG(SPACE))>;
            key-positions = <16 6>;
            layers = <0 1>;
        };

        cmb_cmd-palette {
            bindings = <&kp LS(LG(P))>;
            key-positions = <16 17>;
            layers = <0 1>;
        };

        cmb_caps {
            bindings = <&kp CAPS>;
            key-positions = <13 16>;
            layers = <1>;
        };

        cmb_cyr-scha {
            bindings = <&kp O>;
            key-positions = <6 7>;
            layers = <1>;
        };

        cmb_cyr-io {
            bindings = <&kp NON_US_BSLH>;
            key-positions = <2 3>;
            layers = <1 10>;
        };

        cmb_tog-ru-caps {
            bindings = <&layer_ru_caps>;
            key-positions = <20 31>;
            layers = <1>;
        };

        cmb_capsword {
            bindings = <&caps_word>;
            key-positions = <13 16>;
            layers = <0>;
        };
    };

    macros {
        to_ru: to_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N2))>;
            label = "TO_RU";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        to_en: to_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N1))>;
            label = "TO_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_en: layer_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &to_en>;
            label = "LAYER_EN";
        };

        layer_ru: layer_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &to_ru>;
            label = "LAYER_RU";
        };

        en: en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&to_en>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_ru>;

            label = "EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        ru: ru {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&to_ru>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_en>;

            label = "RU";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        comma_space_en: comma_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COMMA &kp SPACE>;
            label = "COMMA_SPACE";
        };

        comma_space_ru: comma_space_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(FSLH) &kp SPACE>;
            label = "COMMA_SPACE_RU";
        };

        add_section: add_section {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(K) &kp H>;
            label = "ADD_SECTION";
        };

        period_space_shift_en: period_nbsp_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp SPACE &sk LSHIFT>;
            label = "PERIOD_NBSP_EN";
        };

        period_space_shift_ru: period_space_shift_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FSLH &kp SPACE &sk LSHIFT>;
            label = "PERIOD_SPACE_SHIFT_RU";
        };

        layer_ru_caps: layer_ru_caps {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&tog 13>;
            label = "LAYER_RU_CAPS";
        };

        ru_caps_off: ru_caps_off {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 1 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "RU_CAPS_OFF";
        };
    };h

    keymap {
        compatible = "zmk,keymap";

        en {
            bindings = <
                          &kp Q          &kp W           &kp E          &mt LG(R) R      &kp T              &kp Y           &kp U            &kp I          &mt LG(O) O     &mt LG(P) P
                          &hml LGUI A    &hml LCTRL S    &hml LALT D    &hml LSHIFT F    &lt 8 G            &lt 8 H         &hmr RSHIFT J    &hmr RALT K    &hmr RCTRL L    &hmr RGUI SEMI
&period_space_shift_en    &lt 12 Z       &mt LG(X) X     &mt LG(C) C    &mt LG(V) V      &kp B              &mt LG(N) N     &kp M            &none          &none           &none             &comma_space_en
                                                         &mo 11         &lt 4 ENTER      &lt 2 SPACE        &lt 10 COLON    &lt 6 ESC        &sk LSHIFT  
            >;
        };

        ru {
            bindings = <
                          &kp Q          &kp W           &kp E          &mt LG(R) R      &mt NON_US_BSLH T        &kp Y            &kp U            &mt O I        &mt LG(O) P     &mt LG(P) LBKT
                          &hml LGUI A    &hml LCTRL S    &hml LALT D    &hml LSHIFT F    &lt 9 G                  &lt 9 H          &hmr RSHIFT J    &hmr RALT K    &hmr RCTRL L    &hmr RGUI SEMI
&period_space_shift_ru    &lt 12 Z       &mt LG(X) X     &mt LG(C) C    &mt LG(V) V      &kp B                    &mt LG(N) N      &mt RBKT M       &kp COMMA      &kp DOT         &kp SQT           &comma_space_ru
                                                         &mo 11         &lt 5 ENTER      &lt 3 SPACE              &lt 10 LS(N6)    &lt 7 ESC        &sk LSHIFT
            >;
        };

        sym_en {
            bindings = <
          &kp CARET       &kp SQT             &kp LBRC          &kp RBRC     &kp GRAVE        &kp AT        &kp HASH     &kp DOLLAR    &kp AMPS     &kp PIPE
          &kp LT          &kp GT              &kp LPAR          &kp RPAR     &kp SEMI         &kp PLUS      &kp EXCL     &kp MINUS     &kp QMARK    &kp EQUAL
&none     &ru LA(SEMI)    &ru LS(LA(SEMI))    &kp LBKT          &kp RBKT     &kp DQT          &kp ASTRK     &kp FSLH     &kp UNDER     &kp BSLH     &kp TILDE    &none
                                              &ru LS(LA(N8))    &ru LA(H)    &trans           &lt 10 COMMA  &kp DOT      &kp PRCNT
            >;
        };

        sym_ru {
            bindings = <
          &en CARET       &en SQT             &en LBRC          &en RBRC     &en GRAVE         &en AT             &en HASH        &en DOLLAR    &en AMPS     &en PIPE
          &en LT          &en GT              &kp LPAR          &kp RPAR     &kp LS(N4)        &kp PLUS           &kp EXCL        &kp MINUS     &en QMARK    &kp EQUAL
&none     &kp LA(SEMI)    &kp LS(LA(SEMI))    &en LBKT          &en RBKT     &kp DQT           &kp ASTRK          &kp LS(BSLH)    &kp UNDER     &kp BSLH     &en TILDE    &none
                                              &ru LS(LA(N8))    &ru LA(H)    &trans            &lt 10 LS(FSLH)    &kp FSLH        &kp PRCNT
            >;
        };

        num_en {
            bindings = <
                         &kp LS(LA(LC(LG(W))))    &kp LS(LA(LC(LG(L))))    &kp LS(LA(LC(LG(E))))    &kp LS(LA(LC(LG(R))))    &kp LS(LA(LC(LG(T))))        &kp MINUS       &kp N7     &kp N8       &kp N9    &kp COLON
                         &kp LS(LA(LC(LG(Z))))    &kp LS(LA(LC(LG(D))))    &kp LS(LA(LC(LG(F))))    &kp LS(LA(LC(LG(B))))    &kp LS(LA(LC(LG(G))))        &kp PLUS        &kp N4     &kp N5       &kp N6    &kp N0
&kp LS(LA(LC(LG(S))))    &kp LS(LA(LC(LG(N))))    &kp LS(LA(LC(LG(K))))    &kp LS(LA(LC(LG(A))))    &kp LS(LA(LC(LG(I))))    &kp LS(LA(LC(LG(M))))        &kp ASTRK       &kp N1     &kp N2       &kp N3    &kp FSLH     &comma_space_en
                                                                           &trans                   &trans                   &trans                       &lt 10 COMMA    &kp DOT    &kp PRCNT
            >;
        };

        num_ru {
            bindings = <
                         &kp LS(LA(LC(LG(W))))    &kp LS(LA(LC(LG(L))))    &kp LS(LA(LC(LG(E))))    &kp LS(LA(LC(LG(R))))    &kp LS(LA(LC(LG(T))))        &mt LA(MINUS) MINUS    &kp N7      &kp N8       &kp N9    &kp COLON
                         &kp LS(LA(LC(LG(Z))))    &kp LS(LA(LC(LG(D))))    &kp LS(LA(LC(LG(F))))    &kp LS(LA(LC(LG(B))))    &kp LS(LA(LC(LG(G))))        &kp PLUS               &kp N4      &kp N5       &kp N6    &kp N0
&kp LS(LA(LC(LG(S))))    &kp LS(LA(LC(LG(N))))    &kp LS(LA(LC(LG(K))))    &kp LS(LA(LC(LG(A))))    &kp LS(LA(LC(LG(I))))    &kp LS(LA(LC(LG(M))))        &kp ASTRK              &kp N1      &kp N2       &kp N3    &kp KP_DIVIDE    &comma_space_ru
                                                                           &trans                   &trans                   &trans                       &lt 10 LS(FSLH)        &kp FSLH    &kp PRCNT
            >;
        };

        macro_en {
            bindings = <
          &trans            &trans          &kp LC(LG(K))    &kp LA(LC(R))    &trans           &kp LA(LG(N6))       &kp LA(LG(N7))    &kp LA(LG(N8))       &kp LG(O)             &kp LG(P)
          &kp LS(LG(N0))    &add_section    &kp LA(MINUS)    &kp LS(LG(M))    &kp K_APP        &kp LA(LC(LG(M)))    &kp LS(F3)        &kp LA(LC(LG(Z)))    &kp LA(LC(LG(N2)))    &kp LA(LC(LG(S)))
&trans    &trans            &trans          &kp LS(LG(C))    &kp LA(LC(V))    &trans           &trans               &kp LA(LC(A))     &kp LA(LC(R))        &kp LG(N8)            &kp LA(LC(LG(G)))    &trans
                                            &trans           &kp LG(ENTER)    &kp F1           &trans               &trans            &kp LC(LG(C))
            >;
        };

        macro_ru {
            bindings = <
          &trans            &trans          &kp LC(LG(K))    &kp LA(LC(R))    &trans           &kp LA(LG(N6))       &kp LA(LG(N7))    &kp LA(LG(N8))       &kp LG(O)             &kp LG(P)
          &kp LS(LG(N0))    &add_section    &kp LA(MINUS)    &kp LS(LG(M))    &kp K_APP        &kp LA(LC(LG(M)))    &kp LS(F3)        &en LA(LC(LG(Z)))    &en LA(LC(LG(N2)))    &en LA(LC(LG(S)))
&trans    &trans            &trans          &kp LS(LG(C))    &kp LA(LC(V))    &trans           &trans               &en LA(LC(A))     &en LA(LC(R))        &kp LG(N8)            &en LA(LC(LG(G)))    &trans
                                            &trans           &kp LG(ENTER)    &kp F1           &trans               &trans            &kp LC(LG(C))
            >;
        };

        extra_en {
            bindings = <
          &trans           &trans            &ru LA(LS(N4))    &ru LS(LA(N5))            &trans                        &kp F23    &kp F7           &kp F8    &kp F9    &trans
          &ru LA(COMMA)    &ru LA(DOT)       &trans            &trans                    &trans                        &kp F24    &kp F4           &kp F5    &kp F6    &trans
&trans    &trans           &trans            &ru LA(N5)        &trans                    &trans                        &trans     &kp F1           &kp F2    &kp F3    &trans    &trans
                                             &trans            &kp LS(LA(LC(LG(N2))))    &kp LS(LA(LC(LG(N1))))        &trans     &kp LC(LG(Q))    &trans
            >;
        };

        extra_ru {
            bindings = <
          &trans           &trans            &kp LA(LS(N4))    &kp LS(LA(N5))            &trans                        &kp F23    &kp F7           &kp F8    &kp F9    &trans
          &kp LA(COMMA)    &kp LA(DOT)       &trans            &trans                    &trans                        &kp F24    &kp F4           &kp F5    &kp F6    &trans
&trans    &trans           &trans            &kp LA(N5)        &trans                    &trans                        &trans     &kp F1           &kp F2    &kp F3    &trans    &trans
                                             &trans            &kp LS(LA(LC(LG(N2))))    &kp LS(LA(LC(LG(N1))))        &trans     &kp LC(LG(Q))    &trans
            >;
        };

        nav {
            bindings = <
          &trans          &trans       &trans       &trans        &kp DEL          &kp BSPC        &kp LC(LEFT)      &kp UP          &kp LC(RIGHT)    &trans
          &kp LEFT_GUI    &kp LCTRL    &kp LALT     &kp LSHIFT    &kp ESC          &kp LA(LEFT)    &kp LEFT          &kp DOWN        &kp RIGHT        &kp LA(RIGHT)
&trans    &trans          &trans       &mkp RCLK    &mkp LCLK     &trans           &kp LG(LEFT)    &msc SCRL_DOWN    &msc SCRL_UP    &mkp MCLK        &kp LG(RIGHT)    &trans
                                       &trans       &kp ENTER     &kp SPACE        &none           &none             &none
            >;
        };

        wind_man {
            bindings = <
          &trans    &trans                  &kp LG(LBKT)       &kp LG(RBKT)     &trans        &kp LG(MINUS)    &kp LS(LA(LG(W)))    &kp LS(LA(LG(E)))    &kp LS(LA(LG(R)))    &trans
          &trans    &kp LA(LG(C))           &kp LS(LC(TAB))    &kp LC(TAB)      &trans        &kp LG(EQUAL)    &kp LS(LA(LG(S)))    &kp LS(LA(LG(D)))    &kp LS(LA(LG(F)))    &kp LS(LA(LG(G)))
&trans    &trans    &kp LS(LA(LG(RBKT)))    &kp LC(LG(W))      &kp LC(LG(E))    &trans        &kp LG(N0)       &kp LS(LA(LG(X)))    &kp LS(LA(LG(C)))    &kp LS(LA(LG(V)))    &kp LS(LA(LG(A)))    &trans
                                            &trans             &trans           &trans        &trans           &trans               &trans
            >;
        };

        media {
            bindings = <
          &trans    &trans          &trans              &trans          &trans        &trans    &trans    &trans    &trans    &trans
          &trans    &kp C_VOL_DN    &kp C_MUTE          &kp C_VOL_UP    &trans        &trans    &trans    &trans    &trans    &trans
&trans    &trans    &kp C_PREV      &kp C_PLAY_PAUSE    &kp C_NEXT      &trans        &trans    &trans    &trans    &trans    &trans    &trans
                                    &trans              &trans          &trans        &trans    &trans    &trans
            >;
        };

        ru_caps {
            bindings = <
                          &kp LS(Q)      &kp LS(W)       &kp LS(E)      &mt LG(R) R           &mt NON_US_BSLH T         &kp Y            &kp U            &mt O I        &mt LG(O) P     &mt LG(P) LBKT
                          &hml LGUI A    &hml LCTRL S    &hml LALT D    &hml LSHIFT F         &lt 9 G                   &lt 9 H          &hmr RSHIFT J    &hmr RALT K    &hmr RCTRL L    &hmr RGUI SEMI
&period_space_shift_ru    &lt 12 Z       &mt LG(X) X     &mt LG(C) C    &mt LG(V) V           &kp B                     &mt LG(N) N      &mt RBKT M       &kp COMMA      &kp DOT         &kp SQT           &comma_space_ru
                                                         &mo 11         &lt_custom 5 ENTER    &ru_caps_off SPACE        &lt 10 LS(N6)    &lt 7 ESC        &sk LSHIFT
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
